<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/style.css">
    <title>New Answer</title>
</head>
<body>
<div align="center" class="container">
    <div align="center">
        <a href="/"><img id="logo" src="/static/logo3.png"></a>
    </div>
    <div class="form-group">
        <h1>Add new answer to question</br> {{ title }}</h1>
        <form action="/question/{{ question_id }}/new-answer" method="post" enctype="multipart/form-data">
            <label for="post_new_answer"><h2>Your answer:</h2></label></br>
            <textarea class="form-control" id="post_new_answer" name="new_answer" rows="3"></textarea><br>
            <div class="form-group">
                <label for="image">Add image</label>
                <input type="file"
                       id="image" name="image"
                       accept="image/png, image/jpeg">
            </div>
    </div>
    <button type="submit" class="btn btn-primary">Post your answer</button>
    </form>
</div>
<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>
</body>
</html>
