<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of all questions</title>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container" align="center">
    <a href="/"><img id="logo" src="/static/logo3.png"></a>
    <div class="form-group">
        <h1>List of all questions:</h1>

        <table id="customers">
            <thead>
            <form method="POST">
                <tr>
                    {% for header in headers %}
                        <th>
                            {% if header =="submission_time" %}
                                Submission time
                            {% elif header =="view_number" %}
                                Number of views
                            {% elif header =="vote_number" %}
                                Number of votes
                            {% else %}
                                {{ header }}
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            </form>
            </thead>
            <tbody>
            {% for dict in data %}
                <tr>
                    {% for header in headers %}
                        <td>
                            {% if header == 'title' %}
                                <a href="/question/{{ dict["id"] }}">{{ dict["title"] }}</a>
                            {% else %}
                                {{ dict[header] }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <form method="GET">
            <label for="sort">Sort questions by:
                <select name="order_by" id="order">
                    <option id="title">Title</option>
                    <option id="submission_time">Submission time</option>
                    <option id="message">Message</option>
                    <option id="view_number">Number of views</option>
                    <option id="vote_number">Number of votes</option>
                </select>
                <select name="order_direction" id="direction">
                    <option id="asc">from lowest</option>
                    <option id="dsc">from highest</option>
                </select>
                <button type="submit" class="btn btn-primary"><strong>Sort</button>
            </label>
        </form>
        <br>
        <br>

        <button class="btn btn-primary">
            <a id="add_question" href="/add-question">
                Add question
            </a>
        </button>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>
</body>
</html>
