<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Codecool C# Ruleset" Description="Basic ruleset for .NET C# newcomers in order to enforce them to use proper design, naming and documentation." ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1591" Action="None" />
  </Rules>
</RuleSet>
