<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Shows</title>

    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>

    <!-- project wide styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/utils.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/pagination.css') }}">

    <!-- page specific styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/detailed-view.css') }}">
</head>
<body>
<div id="body-wrapper">
    <header class="clearfix">
        <img id="header-logo" src="{{ url_for('static', filename='assets/codecool-logo.png') }}" alt="Codecool Logo">
        <span id="header-title" class="title">Codecool Series DB</span>
        <div id="header-auth">
            <button type="button"><a href="/">Welcome Page</a></button>
            <button type="button" id="bt-register">Register</button>
            <button type="button" id="bt-login">Login</button>
        </div>
    </header>
    <section>
        <h1 class="title text-center">Shows</h1>
        <div class="card">
            <ul>
                <table style="text-align: center">
                    <thead>
                    <tr>
                        {% if order_by == 'title' %}
                            <th><a href="/shows/most_rated/{{ current_page }}/title/{{ order_as_opposite }}">Title {{ marker }}</a></th>
                        {% else %}
                            <th><a href="/shows/most_rated/{{ current_page }}/title/asc">Title {{ asc_marker }}</a></th>
                        {% endif %}
                        {% if order_by == 'year' %}
                            <th><a href="/shows/most_rated/{{ current_page }}/year/{{ order_as_opposite }}">Year {{ marker }}</a></th>
                        {% else %}
                            <th><a href="/shows/most_rated/{{ current_page }}/year/asc">Year {{ asc_marker }}</a></th>
                        {% endif %}
                        {% if order_by == 'runtime' %}
                            <th><a href="/shows/most_rated/{{ current_page }}/runtime/{{ order_as_opposite }}">Runtime (min) {{ marker }}</a></th>
                        {% else %}
                            <th><a href="/shows/most_rated/{{ current_page }}/runtime/asc">Runtime (min) {{ asc_marker }}</a></th>
                        {% endif %}
                        {% if order_by == 'rating' %}
                            <th><a href="/shows/most_rated/{{ current_page }}/rating/{{ order_as_opposite }}">Rating {{ marker }}</a></th>
                        {% else %}
                            <th><a href="/shows/most_rated/{{ current_page }}/rating/asc">Rating {{ asc_marker }}</a></th>
                        {% endif %}
                        <th>Genres</th>
                        <th class="action-column">Trailer</th>
                        <th class="action-column">Homepage</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for show in shows %}
                    <tr>
                        <td><a href="/show/{{ show.id }}">{{ show.title }}</a></td>
                        <td>{{ show.year }}</td>
                        <td>{{ show.runtime }}</td>
                        <td>{{ show.rating }}</td>
                        <td>{{ show.genres }}</td>
                        {% if show.trailer %}
                            <td class="action-column"><a href="{{ show.trailer }}">{{ show.trailer }}</a></td>
                        {% else %}
                            <td class="action-column">No URL</td>
                        {% endif %}
                        {% if show.homepage %}
                            <td class="action-column"><a href="{{ show.homepage }}">{{ show.homepage }}</a></td>
                        {% else %}
                            <td class="action-column">No URL</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            <div class="pagination">
                {% if current_page != 1 %}
                    <a href="/shows/most_rated/{{ current_page - 1 }}/{{ order_by }}/{{ order_as }}">«</a>
                {% else %}
                    <a class="inactive"></a>
                {% endif %}
                {% for page_number in range(1, number_of_pages) %}
                    {% if page_number == current_page - 2 %}
                        <a href="/shows/most_rated/{{ current_page - 2 }}/{{ order_by }}/{{ order_as }}">{{ current_page - 2 }}</a>
                    {% elif page_number == current_page - 1 %}
                        <a href="/shows/most_rated/{{ current_page - 1 }}/{{ order_by }}/{{ order_as }}">{{ current_page - 1 }}</a>
                    {% elif page_number == current_page %}
                        <a class="active" href="/shows/most_rated/{{ current_page }}/{{ order_by }}/{{ order_as }}">{{ current_page }}</a>
                    {% elif page_number == current_page + 1 %}
                        <a href="/shows/most_rated/{{ current_page + 1 }}/{{ order_by }}/{{ order_as }}">{{ current_page + 1 }}</a>
                    {% elif page_number == current_page + 2 %}
                        <a href="/shows/most_rated/{{ current_page + 2 }}/{{ order_by }}/{{ order_as }}">{{ current_page + 2 }}</a>
                    {% endif %}
                {% endfor %}
                {% if current_page != number_of_pages - 1 %}
                    <a href="/shows/most_rated/{{ current_page + 1 }}/{{ order_by }}/{{ order_as }}">»</a>
                {% else %}
                    <a class="inactive"></a>
                {% endif %}
            </div>
            </ul>
        </div>
    <footer>
        Copyright, bla-bla
    </footer>
</div>
<div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>
</body>
</html>
