        #customers {
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even){
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #babfc4;
            color: white;
            text-transform: uppercase;
}
        #customers td {
            text-align: center;
}
        option, select, label {

        }

        a#add_question {
            color:white;
            font-weight: bold;
        }

        a#add_question:hover {
            color:white;
            font-weight: bold;
            text-decoration: none;
        }

        table {
            text-align: center;
            width: 70%;
            padding:10px;
        }

        th {
            padding:10px;
        }
        td {
            padding:10px;
        }

        #logo {
            align:center;
            margin-top:10px;
            margin-bottom:20px;
        }