@{
    ViewData["Title"] = "Order Confirmation";
}

<h1>Thank you for shopping in our Codecool Shop!</h1>
<h3>Summary of your order was sent to your email!</h3>
<h5>Please come back! See you next time!</h5>