<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>ProMan</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    </head>
    <body>
            <div >
                {% if "username" in session %}
                <a href="/logout"><button style="margin-left: 26%;display: inline-block" TYPE="button">Logout</button></a>
                <p style="display: inline-block ">You are logged in as <strong>{{ session['username'] }}</strong>. Now, you can see all public and private boards!</p>
                {% else %}
                    <a style="margin-left: 26%;display: inline-block" href="/login"><button TYPE="button">Login</button></a>
                <a  href="/registration" ;><button TYPE="button">Registration</button></a>
                    <p style="display: inline-block ">You are not logged in. Now, you can see only public boards!</p>
                {% endif %}
            </div>
        <h1>ProMan</h1>
        <br>
        <button id="refresh" style="margin-left: 65%">Refresh</button>
        <div id="root"></div>
        <div id="all-boards"></div>
            <div>
        {% if "username" in session %}
        <button id="new-private-board" style="margin-left: 65%;display: inline-block;margin-bottom: 20px">Add new private board</button>

        {% endif %}

        <button id="new-board" style="margin-left: 65%;display: inline-block;margin-bottom: 20px">Add new board</button>
        <button id="archive" style="margin-left: 65%; display: inline-block;margin-bottom: 20px">Archive</button>

        <button id="hide-archive" style="margin-left: 65%; display: none">Hide Archive</button></div>
      </div>
    </body>
</html>

