<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of all questions</title>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/navbar.css">
</head>
<body>
<header>
    <nav>
        {% if alert %}
        <ul class="nav-links">
            <li><a href="/registration">Registration</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
        {% else %}
        <ul class="nav-links">
            {% if user_id %}
                <li><a href="/user/{{ user_id }}">Profile</a></li>
            {% endif %}
                <li><a href="/logout">Logout</a></li>
            {% if session['username'] %}
                <li style="color: white">You are logged in as {{ session['username'] }}! Now, you can share your knowledge with other users!</li>
            {% else %}
                <li style="color: white">You are logged in! Now, you can share your knowledge with other users!</li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>

    <a class="cta" href="/about">About Ask Mate</a>
</header>
<div class="container" align="center">
    <a href="/"><img id="logo" src="/static/logo3.png"></a>
    <div class="form-group">
        <h1>Latest questions:</h1>

        <table id="customers">
            <thead>
            <form method="POST">
                <tr>
                    {% for header in headers %}
                        <th>
                            {% if header =="submission_time" %}
                                Submission time
                            {% elif header =="view_number" %}
                                Number of views
                            {% elif header =="vote_number" %}
                                Number of votes
                            {% else %}
                                {{ header }}
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            </form>
            </thead>
            <tbody>
            {% for dict in data %}
                <tr>
                    {% for header in headers %}
                        <td>
                            {% if header == 'title' %}
                                <a href="/question/{{ dict["id"] }}">{{ dict["title"] }}</a>
                            {% else %}
                                {{ dict[header] }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>

        <br>
        <br>

        <button class="btn btn-primary">
            <a id="add_question" href="/list">
                All questions
            </a>
        </button>
        <button class="btn btn-primary">
            <a id="add_question" href="/tags">
                Tags
            </a>
        </button>
{% if alert == False %}
    <button class="btn btn-primary">
            <a id="add_question" href="/users">
                All users
            </a>
    </button>
{% endif %}


        <br>
        <br>
        <br>
        <div id="options">
            <form action="/">
                <label for="search-phrase">Search in questions and answers:</label>
                <input type="text" name="search-phrase">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
    ></script>
</body>
</html>
