<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/style.css">
    <title>Register new account</title>
</head>
<body>
<header>
    <nav>
        {% if alert %}
        <ul class="nav-links">
            <li><a href="/registration">Registration</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
        {% else %}
        <ul class="nav-links">
            {% if user_id %}
                <li><a href="/user/{{ user_id }}">Profile</a></li>
            {% endif %}
                <li><a href="/logout">Logout</a></li>
            {% if session['username'] %}
                <li style="color: white">You are logged in as {{ session['username'] }}! Now, you can share your knowledge with other users!</li>
            {% else %}
                <li style="color: white">You are logged in! Now, you can share your knowledge with other users!</li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
    <a class="cta" href="/about">About Ask Mate</a>
</header>
<div class="container">
    <div align="center">
        <a href="/"><img id="logo" src="/static/logo3.png"></a>
    </div>
    <form method="POST" enctype="multipart/form-data">
        <h1 align="center">Registration </h1>
        {% if error %}
        <h2>{{ error }}</h2>
        {% endif %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password"/>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>
</body>
</html>
